:root {
    --WIDTH: 300px;
    --HEIGHT: 350px;
    --ONE_COLUMN_HEIGHT: 40px;

    /* FontSize */
    --FONTSIZE_BASIC: 20px; 
    --FONTSIZE_MEDIUM: 25px; 
    --FONTSIZE_LARGE: 50px;

    /* color */
    --WEEKDAY_TEXT_COLOR: grey;
    --DATE_DAT_COLOR: black;
}

.calendar-container {
    width: var(--WIDTH);
    height: var(--HEIGHT);
    border: black solid 1px;
}
  
.headerContainer {
    width: var(--WIDTH);
    height: var(--ONE_COLUMN_HEIGHT);
    display: flex;
}

.headerMonthYearStyle {
    width: 80%;
    font-size: var(--FONTSIZE_MEDIUM);
    margin: 0.2rem 0.4rem;
}

.headerButtonStyle {
    width: 10%;
    font-size: var(--FONTSIZE_BASIC);
    cursor: pointer;
    margin: 0.4em;
}

.weekDayContainerStyle {
    width: var(--WIDTH);
    height: var(--ONE_COLUMN_HEIGHT);
    display: flex;
}

.weekDayStyle {
    width: 100%;
    font-size: var(--FONTSIZE_BASIC);
    margin: 0.5rem;
    color: var(--WEEKDAY_TEXT_COLOR);
}

.DateContainer {
    width: var(--WIDTH);
    height: 200px;
}

.aWeekStyle {
    display: flex;
}

.dayStyle {
    width: 100%;
    font-size: var(--FONTSIZE_BASIC); 
    margin: 0.5rem;
    color: var(--DATE_DAT_COLOR);
    text-align: center;
}